
####### requirements for project
####### python 3.5

####### lista extensa do environment, depois filtro para os que foram utilizados realmente
ipython==5.1.0
jupyter==1.0.0
matplotlib==1.5.3
notebook==4.2.3
pandas==0.18.1
xlrd==1.0.0
scikit-learn==0.18.1

####### the following must be installed separately
# 
# 

####### para instalar utilize os seguintes comandos no linux (Ubuntu e similares):
# sudo apt-get install python-pip python-dev
# sudo pip install virtualenv virtualenvwrapper
# echo "export WORKON_HOME=~/envs" >> ~/.bashrc
# echo "source /usr/local/bin/virtualenvwrapper.sh" >> ~/.bashrc
# echo "export PIP_REQUIRE_VIRTUALENV=true" >> ~/.bashrc
# source ~/.bashrc
# mkvirtualenv <env_name> -p /usr/bin/python3
####### substitua <env_name> pelo nome de preferência para seu ambiente virtual
# pip install -r requirements.txt